<div id="spinner" *ngIf="isLoading">
        <img src="../../assets/images/Brands/loader.gif" alt="">
    </div>
<div class="usr-account">
    <div>
        <img src="../../assets/images/UserAccount/myaccount-banner.jpg" alt="BannerImage" class="img-responsive">
    </div>
    <div class="container">
        <div class="content-spacing">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="list-checkout">
                        <div class="checkout-tab-btn">
                            <p>

                                <button class="btn btn--list" (click)="changeView(1)">PROFILE</button>
                            </p>
                        </div>
                        <div class="checkout-tab-btn">
                           <p> <button class="btn btn--list " (click)="changeView(2)">MANAGE
                                ADDRESS</button>
                           </p>
                        </div>
                        <div class="checkout-tab-btn">
                            <p>
                            <button class="btn btn--list" (click)="changeView(3)">
                                ORDER</button>
                            </p>
                        </div>
                        <div class="checkout-tab-btn">
                            <p>

                                <button class="btn order-list--btn text-uppercase" (click)="changeView(4)">return/exchange</button>
                            </p>
                        </div>
                        <div class="checkout-tab-btn">
                            <p>

                                <button class="btn order-list--btn text-uppercase" (click)="changeView(5)">cancelled</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="prof-tab" [ngClass]="view == 1 ? 'show' :'hidden'"  >
                    <!--To open profile Tab-->
                    <div class="col-md-9 col-sm-12  col-xs-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12  col-xs-12">
                                <div class="userdtl-main">
                                    <div class="usrdtl-title">
                                        <h3 class="tab-title">YOUR DETAILS
                                            <a (click)="changeInnerView(1)" class="linking"><span>edit</span></a>
                                            <!-- <a href="" class="linking"><span>save</span></a> -->
                                        </h3>
                                    </div>
                                    <div class="usrdtl" [ngClass]="innerView == 1 ? 'hidden' :'show'">
                                        <p class="usrdtl-info">Name: <span
                                                class="text-capitalize left-space">{{customer.CustFirstName}}
                                                {{customer.CustLastName}}</span><br> Email id: <span
                                                class="text-capitalize left-space">{{customer.CustEmailAddr}}</span><br>
                                            Mobile:
                                            <span class="text-capitalize left-space">{{customer.CustMobNo}}</span>
                                        </p>

                                        <p class="usrdtl-info">Member’s Current Status : <strong
                                                class="text-uppercase">gold</strong></p>
                                        <p class="usrdtl-info">Want to change your password? <a class="linking">CLICK
                                                HERE</a></p>
                                    </div>
                                    <div class="row" [ngClass]="innerView == 1 ? 'show' :'hidden'">
                                        <div class="col-md-12 col-sm-12 col-xs-12 edit-dtl">
                                            <div class="row">
                                                <form class="customized-form" novalidate novalidate #form="ngForm"
                                                (ngSubmit)="saveInfo(form, customer)">
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="First Name"
                                                                class="form-control " [(ngModel)]="customer.firstName" name="firstName" #firstName="ngModel" required >
                                                                <span *ngIf="submitted && firstName.invalid" class="text-danger">Enter your
                                                                        first name</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Last Name"
                                                                class="form-control " [(ngModel)]="customer.lastName" name="lastName" #lastName="ngModel" required>
                                                                <span *ngIf="submitted && lastName.invalid" class="text-danger">Enter your
                                                                        last name</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                                                        <div class="form-group">
                                                            <input type="text" placeholder="Mobile No"
                                                                class="form-control " [(ngModel)]="customer.mobileNo" name="mobileNo" #mobileNo="ngModel" required> 

                                                                <span *ngIf="submitted && mobileNo.invalid" class="text-danger">Enter your
                                                                        mobile no</span>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <input type="email" placeholder="Email Address"
                                                                class="form-control " [(ngModel)]="customer.email" name="email" #email="ngModel" required>

                                                                <span *ngIf="submitted && email.invalid" class="text-danger">Enter your
                                                                        email</span>
                                                        </div>
                                                    </div>
                                                    <p><button class="btn btn--brown" type="submit">Save</button> &nbsp; <button class="btn btn--brown" (click)="changeInnerView(0)">Cancel</button></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addr-tab " [ngClass]="view == 2 ? 'show' :'hidden'"  >
                    <!--To open Manage Address Tab-->
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">


                                <h3 class="tab-title text-uppercase">shipping address
                                    <a class="linking">
                                        <span class="tab-title pull-right">
                                            <i class="fa fa-plus"></i>
                                        </span>
                                    </a>
                                </h3>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="manage-addrs custom-checkbox">
                                    <p class="usrdtl-info"><span class="usr-name text-capitalize">userDetails.firstName
                                            userDetails.lastName</span> userDetails.mobile
                                        <br>userDetails.email</p>
                                    <address class="usrdtl-info">shippingAdd.line1<br>
                                        <span
                                            class="text-capitalize city">shippingAdd.city</span>shippingAdd.pinCode<br>shippingAdd.country
                                    </address>
                                    <div class="checkbox usrdtl-info">
                                        <input type="checkbox" name="x1">
                                        <label for="x1">Use this as default shipping address</label>
                                    </div>
                                    <p><button class="btn address-edit-btn ">Edit</button>
                                        <button class="btn address-delt-btn">Delete</button></p>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="edit-addrs">
                                    <form class="customized-form">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">


                                                <h3 class="tab-title text-uppercase">shipping address</h3>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Line 1*" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Line 2" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Line 3" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Line 4" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="City" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="number" placeholder="Pincode" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group country-dropdown" uib-dropdown>

                                                    <button
                                                        class="btn country-dropdown--btn text-capitalize">countryButton
                                                        <span class="caret"></span></button>

                                                    <ul class="country-dropdown-menu dropdown-menu text-capitalize">
                                                        <li>
                                                            <a>country.name</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group country-dropdown">
                                                    <button
                                                        class="btn country-dropdown--btn text-capitalize">stateButton
                                                        <span class="caret"></span></button>
                                                    <ul class="country-dropdown-menu dropdown-menu text-capitalize">
                                                        <li><a>state</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="state" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <p><button class="btn save--btn text-uppercase">save</button>
                                            <button class="btn delt--btn text-uppercase">cancel</button>
                                        </p>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order-tab " [ngClass]="view == 3 ? 'show' :'hidden'"  >
                    <!--To open an Order Tab-->
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <p class="text-uppercase order-list-action text-center">
                            <button class="btn order-list--btn ">orders
                            </button>
                        </p>
                        <div class="account-order-table table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th class="align-top">order placed<br><strong>order.createdAt |
                                                date:'dd/MM/yyyy'</strong></th>
                                        <th class="align-top">order no.<br><strong>order.orderNo</strong></th>
                                        <th class="align-top">order-status<br><strong>order.orderStatus</strong>
                                        </th>
                                        <th class="align-top">tracking id<br><strong>order.courierType.courierLink +
                                                order.trackingId</strong></th>
                                        <th class="align-top">Grand total<br><strong>&#8377; order.totalAmount
                                                |number:0</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="relate">
                                        <td colspan="3">
                                            <div class="item-img display-cell align-top">
                                                <img src="" alt="Ordered Item" class="img-responsive">
                                            </div>
                                            <div class="item-desc display-cell align-top">
                                                <h4 class="item-name text-uppercase">product.product.productName
                                                </h4>
                                                <p class="item-code"><span class="text-capitalize">Product
                                                        Code:</span><span class="text-uppercase">
                                                        product.product.name</span>
                                                </p>
                                                <p class="item-cost"><i
                                                        class="fa fa-inr"></i>product.product.price|number:0</p>
                                            </div>
                                            <div class="comment">
                                                <p class="item-code">Comment: product.comment.</p>
                                                <!-- <hr class="table-divider"> -->
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">Cancel
                                                    purchase
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">Return
                                                    purchase
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">order
                                                    details
                                                </button>

                                                <a class="btn order-action--btn text-uppercase" target="_self" download
                                                    role="button">download
                                                    Invoiceorder.invoicePdfName
                                                </a>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="account-order-table table-responsive" ng-if="subview == 'return'">
                                <table class="table" ng-repeat="return in returned">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>order placed<br><strong>return.createdAt | date:'dd/MM/yyyy'</strong></th>
                                            <th>order no.<br><strong>return.orderNo</strong></th>
                                            <th>order-satus<br><strong>returned</strong></th>
                                            <th>Grand total<br><strong>&#8377; return.totalAmount</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="product in return.returnCancelProduct">
                                        <tr ng-if="product.status=='returned'">
                                            <td>
                                                <div class="item-img">
                                                    <img ng-src="product.product.images[0].image|serverimage" alt="Ordered Item" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="item-desc">
                                                    <h4 class="item-name text-uppercase">product.product.productName</h4>
                                                    <p class="item-code">Product Code:<span class="text-uppercase"> product.product.name</span>
                                                    </p>
                                                    <p class="item-cost"><i class="fa fa-inr"></i>product.product.price</p>
                                                </div>
                                            </td>
                                            <td colspan="3">
                                                <div class="pull-right">
                                                    <button class="btn order-action--btn text-uppercase" ui-sref="orderdetail({id:return._id})">order details
                                                    </button>
                                                    <button class="btn order-action--btn text-uppercase" ui-sref="individual-page({id: product.product.productId})">buy it again
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                        <!-- <div class="account-order-table" ng-if="subview == 'cancel'">
                                <table class="table" ng-repeat="return in returned">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>order placed<br><strong>return.createdAt | date:'dd/MM/yyyy'</strong></th>
                                            <th>order no.<br><strong>return.orderNo</strong></th>
                                            <th>order-satus<br><strong>cancelled</strong></th>
                                            <th>Grand total<br><strong>&#8377; return.totalAmount</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="product in return.returnCancelProduct track by $index">
                                        <tr ng-if="product.status=='cancelled'">
                                            <td>
                                                <div class="item-img">
                                                    <img ng-src="product.product.images[0].image|serverimage" alt="Ordered Item" class="img-responsive">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="item-desc">
                                                    <h4 class="item-name text-uppercase">product.product.productName</h4>
                                                    <p class="item-code">Product Code:<span class="text-uppercase"> product.product.name</span>
                                                    </p>
                                                    <p class="item-cost"><i class="fa fa-inr"></i>product.product.price</p>
                                                </div>
    
                                            </td>
                                            <td colspan="3">
                                                <div class="pull-right">
                                                    <button class="btn order-action--btn text-uppercase" ui-sref="individual-page({id: product.product.productId})">buy it again
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>