<div class="main-content">
    <div class="container">
    
        <div class="individual-container relate">
            <div class="row">
                <div class="col-md-5 col-xs-12 padd-rt0">
                    <div class="individual-first relate visible-lg">
                        <div class="product-img">
                              
                            <img [src]= "indvProduct.ProductImg" alt="" class="img-responsive">
                        </div>

                    </div>
                </div>
                <div class="col-md-7 col-xs-12 padd-lt3">
                    <div class="prod-code">
                        <div class="pull-left">
                            <p class="prod-code__left">
                                Product Code:
                                <span>{{indvProduct.ProductCode}}</span>
                               
                            </p>
                        </div>

                        <p class="prod-code__right pull-right text-right" *ngIf=" quantityStatus >= 1 ;else  outOfStock">
                          
                                <span class="text-success">AVAILABILITY </span>:

                           <span>{{quantityStatus}}</span>
                        </p>
                       
                          <ng-template #outOfStock>
                                <p class="prod-code__right pull-right text-right" >
                                    <label class="text-danger">Out of stock</label>
                                </p>
                          </ng-template>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div class="individual-main">
                        <div class="first-sec clearfix border-div relate ">
                            <h4>
                               <span>{{indvProduct.ProductName}}</span>
                            </h4>
                            <div class="pull-left mrp">
                                <h3>
                                    <!--<i class="fa fa-inr " aria-hidden="true "></i>-->
                                    <!--<div class="inline-block">-->
                                   <!-- <span><del>Strikethrough</del></span> -->

                                    <span class="pull-right">&#x20B9;
                                       <span>{{indvProduct.ProductPrice}}</span> </span>
                                    <!--</div>-->
                                    <!--<div class="inline-block">-->

                                    <!--</div>-->
                                </h3>
                            </div>

                        </div>
                        <div class="second-sec border-div pd-bottom ">
                            <div class="viewSize inline-block relate ">
                                <h5>SIZE </h5>

                                <div class="inline-block buy-para__sizes ">
                                        <div class="form-group">
                                  
                                                <select class="form-control" #sizeOption id="productSize" [(ngModel)]="indvProduct.ProductSize" (ngModelChange)="selectProductSize($event)">
                                                    <option [disabled]="indvProduct.ProductSizeQuantM < 1" [attr.value]="M" >M</option>
                                                    <option [disabled]="indvProduct.ProductSizeQuantXL < 1 " [attr.value]="XL" >XL</option>
                                                    <option [disabled]="indvProduct.ProductSizeQuantXXL < 1" [attr.value]="XXL">XXL</option>
                                                    
                                                </select>
                                            </div>
                                  
                                </div>

                                <!--<div class="dropdown inline-block">
                                <button class="btn dropdown-toggle btn-select" type="button" data-toggle="dropdown">{{selectedSize.name}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="size in sizes"> <a ng-click="setSelectedSize(size)">{{size.name}}</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                </ul>
                            </div>
                            <div class="dropdown inline-block ml-10">
                                <button class="btn dropdown-toggle btn-no" type="button" data-toggle="dropdown">{{reqQuantity}}
                                <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="quantity in product.quantity"><a ng-click="setSelectedQuantity(quantity)">{{quantity}}</a></li>
                                    <li><a ng-click="setQuantity(1)">1</a></li>
                                    <li><a ng-click="setQuantity(2)">2</a></li>
                                    <li><a ng-click="setQuantity(3)">3</a></li>
                                    <li><a ng-click="setQuantity(4)">4</a></li>
                                    <li><a ng-click="setQuantity(5)">5</a></li>
                                </ul>
                            </div>-->
                            </div>
                            <!-- <div class="inline-block quantity text-center">
                                <h5>QUANTITY </h5>
                                <a>
                                        <i class="fa fa-minus square__bg"
                                        aria-hidden="true"></i>
                                </a>

                                <div class="inline-block">
                                    <form>
                                        <div class="form-group marg0 plus-minus-btn">
                                            <input type="text" name="" readonly="true" id="" class="form-control quantity__input">
                                        </div>
                                    </form>
                                </div>
                                <a><i class="fa fa-plus square__bg"
                                    aria-hidden="true"></i>
                                </a>
                               
                            </div> -->
                        </div>

                        <div class="fourth-sec border-div common-Accordian">
                            <div class="panel-group hidebordercolor panel-default " id="accordion">

                                <div class="hidebordercolor panel panel-default ">
                                    <div class="panel-heading">
                                        <h4 class="text-uppercase panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                                href="#collapse1">Description</a>

                                            <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                        </h4>
                                    </div>
                                    <div class="pd-bottom panel-collapse collapse in" id="collapse1">
                                        <div class="panel-body">
                                            <p>
                                                <span>{{indvProduct.ProductDisc}}</span>

                                            </p>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title  text-uppercase">
                                            <a data-toggle="collapse" data-parent="#accordion"
                                                href="#collapse2">Specification</a>

                                            <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-5 col-xs-6">
                                                    <div class="leftContent">
                                                        <ul class="list-unstyled">
                                                            <li class="flex-item-container spec" >
                                                                <div class=" leftContent__specHead">
                                                                    <p class="mb-0">Brand</p>
                                                                </div>
                                                                <div>
                                                                    <ul class="list-unstyled">
                                                                        <li>Burnt Umber
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            <li class="flex-item-container spec">
                                                                <div class=" leftContent__specHead">
                                                                    <div>
                                                                        <p class="mb-0">Collection</p>
                                                                    </div>
                                                                </div>

                                                            </li>
                                                            <li class=" flex-item-container spec" >
                                                                <div class=" leftContent__specHead">
                                                                    <div>
                                                                        <p class="mb-0">Sleeve</p>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            <span>{{indvProduct.ProductCat}}</span>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="col-md-5 col-sm-7 col-xs-6">
                                                    <div class="right-content" ng-if="product.washcare">
                                                        <p class="marg0 weight-600">Washcare</p>
                                                        <p class="washcare">
                                                            Washable

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="sixth-sec  border-div common-Accordian">
                           
                                <div  class="hidebordercolor panel-default " >
                                    <div>
                                        <h4 class="text-uppercase">comment
                                            <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                        </h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="usr-comment form-control"
                                                   rows="2" id="comment"></textarea>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                          
                        </div>
                        <div class="individual-btn">
                            <button [ngClass]="{'disabled': sizeOption.selectedIndex < 0}"  Class="btn  btn--brown text-uppercase btn-add" (click)="addToCart(indvProduct.ProductId, indvProduct.ProductPrice, indvProduct.ProductSize)">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>ADD TO CART </button>
                            &nbsp;
                            <button  class="btn btn--brown text-uppercase btn-add" >Check Out</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>