<div id="spinner" *ngIf="isLoading">
        <img src="../../assets/images/Brands/loader.gif" alt="">
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="relate hidden-xs" style="margin: 25px 0">
                <div *ngIf="view == 1">
                    <div class="row marg0">
                        <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                            <div class="modal-container">
                                <div class="minHeight">
                                    <div class="text-center login-head login-head-top">
                                        <h1 class="brown--color">Log in</h1>
                                        <p class="gray--color">to your account</p>
                                    </div>
                                    <div>
 
                                            <div class="alert alert-danger text-center" [ngClass]="{'hidden': errorMessage === undefined}">
                                                    <strong>Error!</strong> &nbsp;{{errorMessage}}.
                                                </div>
                                    
                                        <form class="modal__customized-form" name="loginform" novalidate #form="ngForm"
                                            (ngSubmit)="checkCustomerLogin(form, customer)">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control"
                                                    name="email" [(ngModel)]="customer.email" #email="ngModel" required>

                                                <span *ngIf="submitted && email.invalid" class="text-danger">Enter your
                                                    email</span>

                                            </div>
                                            <div class="form-group">
                                                <input type="password" placeholder="Password" name="password"
                                                    [(ngModel)]="customer.pwd" class="form-control" #pwd="ngModel" required>

                                                <span *ngIf="submitted && pwd.invalid" class="text-danger">Enter your
                                                    password</span>

                                            </div>
                                            <div class="marginTop">
                                                <button type="button" type="submit" class="btn btn-login btn-block">log in</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                                <div class="login-footer">
                                    <a>Forgot Password?</a>
                                    <a class="visible-xs">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                            <!--<img src="img/home/login.jpg" alt="" class="img-responsive width100">-->
                            <div class="modal-container-right sign-up">
                                <div class="minHeight">
                                    <div class="text-center login-head login-head-top">
                                        <h1>sign up</h1>
                                        <p>with one of your<br>social profile</p>
                                    </div>
                                    <div class="login__social-icons">
                                        <ul class="list-unstyled list-inline">
                                            <li>
                                                <div class="social-icons__list fb">
                                                    <a href="">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="social-icons__list tw">
                                                    <a href="">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="social-icons__list gp">
                                                    <a href="">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="login-footer">
                                    <p class="marg0">Don't have an account?</p>
                                    <div>
                                        <a (click)="changeView(2)">Sign Up</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="view == 2">
                    <div class="row marg0">
                        <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                            <div class="modal-container">
                                <div class="minHeight">
                                    <div class="text-center login-head">
                                        <h1>sign up</h1>
                                        <p>to your account</p>
                                    </div>
                                    <div>
                                        <form class="modal__customized-form" name="registerForm" novalidate #form="ngForm"  (ngSubmit)="customerSignup(form, customer)">
                                            <div class="form-group">
                                                <input type="text" placeholder="First Name" name="firstName"
                                                    class="form-control" required [(ngModel)]="customer.firstName" #firstName="ngModel">

                                                    <span *ngIf="submitted && firstName.invalid" class="text-danger">Enter your
                                                            first name</span>
                                                <!--<p ng-show="registerForm.firstname.$touched && registerForm.firstname.$invalid">Test</p>-->
                                            </div>
                                            <div class="form-group">
                                                <input type="text" placeholder="Last Name" name="lastName"
                                                [(ngModel)]="customer.lastName" class="form-control" #lastName="ngModel" required>

                                                <span *ngIf="submitted && lastName.invalid" class="text-danger">Enter your
                                                        lastname</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" name="email"
                                                [(ngModel)]="customer.email" #email="ngModel" class="form-control" required>

                                                <span *ngIf="submitted && email.invalid" class="text-danger">Enter your
                                                        email</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" placeholder="Mobile No" name="mobileNo"
                                                [(ngModel)]="customer.mobileNo" #mobileNo="ngModel" class="form-control" required>

                                                <span *ngIf="submitted && mobileNo.invalid" class="text-danger">Enter your
                                                        mobile no</span>
                                            </div>
                                            <div class="form-group">
                                                <input type="password" placeholder="Password" name="pwd"
                                                [(ngModel)]="customer.pwd" #pwd="ngModel" class="form-control" required>
                                                <span *ngIf="submitted && pwd.invalid" class="text-danger">Enter your
                                                        password</span>
                                            </div>
                                            <!-- <div class="form-group">
                                                <input type="password" placeholder="Confirm Password" name="confirm"
                                                    ng-model="formData.confirm" class="form-control" required>
                                               <span ng-show='registerForm.formData.confirm.$error.hsPswdMatch'>Passwords don't match</span>
                                            </div> -->
                                            <div class="marginTop">
                                                <button type="submit" class="btn btn-login btn-block">Sign Up</button>
                                            </div>
                                           
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 padd0">
                            <!--<img src="img/home/login.jpg" alt="" class="img-responsive width100">-->
                            <div class="modal-container-right sign-up">
                                <div class="minHeight">
                                    <div class="text-center login-head">
                                        <h1>log in</h1>
                                        <p>with one of your<br>social profile</p>
                                    </div>
                                    <div class="login__social-icons">
                                        <ul class="list-unstyled list-inline">
                                            <li>
                                                <div class="social-icons__list fb">
                                                    <a href="">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="social-icons__list tw">
                                                    <a href="">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="social-icons__list gp">
                                                    <a href="">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="login-footer have-account">
                                    <p class="marg0">Have an account</p>
                                    <div>
                                        <a  (click)="changeView(1)">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="orCircle ">
                    <p class="marg0">or</p>
                </div>
                <div class="cross-absolute" ng-click="$dismiss();">
                    <img src="assets/images/Home/33.png" class="img-responsive">
                </div>
            </div>

        </div>
    </div>
</div>