<div class="container">
     <div id="spinner" *ngIf="isLoading">
         <img src="../../assets/images/Brands/loader.gif" alt="">
     </div>
    <div class="well text-center">
        <h2><strong>{{orderDetails}}</strong>, welcome in Admin panel
            <button class="btn btn-danger pull-right">Logout</button>
        </h2>

       
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical">

                <p><button type="button" class="btn btn-primary" (click)="showPanel(1)">Home banner upload</button></p>
                <p><button type="button" class="btn btn-primary" (click)="showPanel(2)">Users orders</button></p>
                <p> <button type="button" class="btn btn-primary" (click)="showPanel(3)">blogs upload</button></p>
                <!-- <p> <button type="button" class="btn btn-primary" (click)="testCall()" >Test</button></p> -->


            </div>
        </div>
        <div class="col-md-10" *ngIf="activeIndex === 1">
            <h2>Upload Banner</h2>

            <div class="alert alert-danger" *ngIf="errorMessage">
                <strong>Danger!</strong> {{errorMessage}}.
            </div>

            <form class="form-inline" #form="ngForm" novalidate (ngSubmit)="uploadBannerInfo(form)">
                <div class="form-group">

                    <div class="input-group">
                        <span class="input-group-addon">Banner image</span>
                        <input type="file" class="form-control" name="fileHomeBanner"
                            (change)="changeBannerFile($event.target.files)" id="file" required>

                        <!-- <span *ngIf="submitted && desc.invalid" class="text-danger" >*Select file</span> -->
                    </div>


                    <!-- <div class="input-group">
                        <span class="input-group-addon">Text</span>

                        <input id="homeBannerName" type="text" class="form-control" [(ngModel)]="homeBannerInput.bannerName" id="name" #name="ngModel" name="bannerName" placeholder="Banner Name" required >

                   
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">Text</span>

                        <input id="homeBannerDesc" type="text" class="form-control" [(ngModel)]="homeBannerInput.bannerDesc" id="desc" #desc="ngModel" name="bannerDesc" placeholder="Banner Desc" required>

                     

                    </div> -->

                </div>
                <br><br>
                <p><button class="btn btn-primary" type="submit">Submit</button></p>
            </form>

            <div class="well" *ngIf="imagesNames">
                <button class="btn btn-small btn-success"
                    *ngFor="let item of uploadedFilesNames">{{item}}</button>&nbsp;
            </div>

         

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Bannner image</th>
                            <th>Banner name</th>
                            <th>Banner description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let bannerItem of homeBannerDetailsResponse; let i = index;trackBy:trackByIndex;" [attr.data-index] ="i">
                            <td style="width: 300px">
                                <img [src]="bannerItem.BannerImg" alt="" class="img-responsive">
                            </td>
                            <td>
                                <form  novalidate 
                                    (ngSubmit)="changeBannerName(bannerItem)">
                                    {{bannerItem.homeBannerName}}&nbsp;<br>

                                    <input id="HomeBannerName" type="text" class="form-control"
                                        [(ngModel)]="bannerItem.BannerName" 
                                       placeholder="Banner name" #name="ngModel" name="name" required><br>

                                        <!-- <span *ngIf="submitted && name.invalid" class="text-danger" >*Enter banner name</span> -->
                                        <br>
                                    <button class="btn btn-success" type="submit">Edit</button>

                                </form>
                            </td>
                            <td>
                                <form  novalidate
                                    (ngSubmit)="changeBannerName(bannerItem)">
                                   <br>

                                    <input id="HomeBannerDesc" type="text" class="form-control"
                                        [(ngModel)]="bannerItem.BannerDesc" id="name" name="desc" #desc="ngModel" required  placeholder="Banner description" ><br>

                                         <!-- <span *ngIf="submitted && desc.invalid" class="text-danger" >*Enter banner desc</span><br> -->
                                    <button class="btn btn-success" type="submit">Edit</button>

                                </form>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="col-md-10" *ngIf="activeIndex === 2">
            <div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>PROCUCT IMAGE</th>
                            <th>PRODUCT ID</th>
                            <th>PRODUCT NAME</th>
                            <th>PRODUCT QUANTITY</th>
                            <th>PRODUCT PRICE</th>
                            <th>CUSTOMER EMAILID</th>
                            <th>CUSTOMER ADDRESS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{orderDetails}}</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>john@gmail.com</td>

                        </tr>
                        <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                            <td>john@gmail.com</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="col-md-10" *ngIf="activeIndex === 3">

        </div>
    </div>

</div>